
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form method="get">
            <label for="naam">Vul uw naam in: </label>
            <input name="naam" type="text" />
            <input type="submit" value="Verzenden" />
        </form>
    </div>
</body>
</html>
